body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

/* HERO */
.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1555992336-03a23c7b20ee') center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero button{
padding:15px 25px;
border:none;
background:red;
color:white;
font-size:18px;
cursor:pointer;
margin:10px;
}

/* BUTTON EXTRA */
.btn{
background:orange;
}

/* MENU */
.menu{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:40px;
}

/* CARD */
.card{
background:#222;
border-radius:15px;
width:250px;
cursor:pointer;
transition:0.3s;
overflow:hidden;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

/* TITLE */
.title{
text-align:center;
margin-top:20px;
}

/* MODAL */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
color:black;
padding:20px;
border-radius:10px;
text-align:center;
width:300px;
}

.close{
cursor:pointer;
float:right;
}

/* CART */
.cart{
position:fixed;
right:0;
top:0;
background:#000;
padding:20px;
width:250px;
height:100%;
overflow:auto;
}

.cart button{
background:green;
color:white;
border:none;
padding:10px;
cursor:pointer;
width:100%;
}